In [22]:
import pandas as pd

In [23]:
df = pd.read_excel("Data\Rockburst_in_tunnel.xlsx",header=None)

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4172\3049715386.py:1: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_excel("Data\Rockburst_in_tunnel.xlsx",header=None)

In [24]:
df.head()

                                               0
0  1 41 5.968 4.694 3.727 4.926 3.653 11 Intense
1  2 14 5.841 4.622 1.556 4.887 3.668 9 Moderate
2    3 17 4.754 4.397 1.889 3.8 3.443 9 Moderate
3   4 18 5.295 4.703 1.8 4.295 3.703 10 Moderate
4  5 10 5.322 4.238 1.429 4.477 3.393 7 Moderate

In [25]:
# spliting into columns
df=df[0].str.split(expand=True)

In [26]:
df.head()

   0   1      2      3      4      5      6   7         8
0  1  41  5.968  4.694  3.727  4.926  3.653  11   Intense
1  2  14  5.841  4.622  1.556  4.887  3.668   9  Moderate
2  3  17  4.754  4.397  1.889    3.8  3.443   9  Moderate
3  4  18  5.295  4.703    1.8  4.295  3.703  10  Moderate
4  5  10  5.322  4.238  1.429  4.477  3.393   7  Moderate

In [27]:
df.drop(0,axis=1,inplace=True)

In [28]:
# Giving columns an appropriate names
df.columns = [
    "Energy_Unit",
    "Energy_density_Joule",
    "Volume_m3",
    "Event_freq_unit_per_day",
    "Energy_Joule_per_day",
    "Volume_m3_per_day",
    "Duration_days",
    "Intensity_Level"
]

In [29]:
df.head()

,Energy_Unit,Energy_density_Joule,Volume_m3,Event_freq_unit_per_day,Energy_Joule_per_day,Volume_m3_per_day,Duration_days,Intensity_Level
0,41,5.968,4.694,3.727,4.926,3.653,11,Intense
1,14,5.841,4.622,1.556,4.887,3.668,9,Moderate
2,17,4.754,4.397,1.889,3.8,3.443,9,Moderate
3,18,5.295,4.703,1.8,4.295,3.703,10,Moderate
4,10,5.322,4.238,1.429,4.477,3.393,7,Moderate

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Energy_Unit              91 non-null     object
 1   Energy_density_Joule     91 non-null     object
 2   Volume_m3                91 non-null     object
 3   Event_freq_unit_per_day  91 non-null     object
 4   Energy_Joule_per_day     91 non-null     object
 5   Volume_m3_per_day        91 non-null     object
 6   Duration_days            91 non-null     object
 7   Intensity_Level          91 non-null     object
dtypes: object(8)
memory usage: 5.8+ KB

In [31]:
# Convert all feature columns to numeric type safely
df["Energy_Unit"] = pd.to_numeric(df["Energy_Unit"], errors='coerce')
df["Energy_density_Joule"] = pd.to_numeric(df["Energy_density_Joule"], errors='coerce')
df["Volume_m3"] = pd.to_numeric(df["Volume_m3"], errors='coerce')
df["Event_freq_unit_per_day"] = pd.to_numeric(df["Event_freq_unit_per_day"], errors='coerce')
df["Energy_Joule_per_day"] = pd.to_numeric(df["Energy_Joule_per_day"], errors='coerce')
df["Volume_m3_per_day"] = pd.to_numeric(df["Volume_m3_per_day"], errors='coerce')
df["Duration_days"] = pd.to_numeric(df["Duration_days"], errors='coerce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Energy_Unit              91 non-null     int64
 1   Energy_density_Joule     91 non-null     float64
 2   Volume_m3                91 non-null     float64
 3   Event_freq_unit_per_day  91 non-null     float64
 4   Energy_Joule_per_day     91 non-null     float64
 5   Volume_m3_per_day        91 non-null     float64
 6   Duration_days            91 non-null     int64
 7   Intensity_Level          91 non-null     object
dtypes: float64(5), int64(2), object(1)
memory usage: 5.8+ KB

In [34]:
df.isnull().sum()

Energy_Unit                0
Energy_density_Joule       0
Volume_m3                  0
Event_freq_unit_per_day    0
Energy_Joule_per_day       0
Volume_m3_per_day          0
Duration_days              0
Intensity_Level            0
dtype: int64

In [35]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["Intensity_Level_encoded"] = le.fit_transform(df["Intensity_Level"])

In [37]:
df.describe()

,Energy_Unit,Energy_density_Joule,Volume_m3,Event_freq_unit_per_day,Energy_Joule_per_day,Volume_m3_per_day,Duration_days,Intensity_Level_encoded
count,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000
mean,12.340659,4.363945,4.132923,1.662473,3.539187,3.318835,7.769231,1.714286
std,13.133688,1.450148,0.659514,1.689152,1.338949,0.588594,4.422360,0.957841
min,1.000000,0.780000,2.511000,0.111000,0.178000,1.666000,1.000000,0.000000
25%,3.500000,3.781000,3.718000,0.725000,2.870500,2.956500,4.000000,1.000000
50%,8.000000,4.614000,4.238000,1.222000,3.739000,3.474000,7.000000,2.000000
75%,17.000000,5.311000,4.643500,2.000000,4.575000,3.724500,10.000000,2.000000
max,70.000000,7.094000,5.168000,12.250000,5.890000,4.393000,23.000000,3.000000

In [36]:
# Saving the df 
df.to_csv('Data/Rockburst_in_tunnel.csv', index=False)